body{
    background-color: rgb(208, 161, 161);
}
ul{
    display: flex;
    color: #ffffff;
    gap: 100px;   
    list-style-type: none;
    height: 50px;
    background-color: rgb(0, 0, 0);
    align-items: center;   
}
*{
    margin:0;
    padding:0;
}
li{
    font-family:monospace;
    font-size: x-large;
}
.brand img{
    width: 45px;
    padding:8px ;
}
.brand{
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
}
.container{
    min-height:69vh;
    background-color: gray;
    color: #ffffff;
    font-family: cursive;
    margin: 23px auto;
    width:80%;
    border-radius: 12px;
    padding:34px;
    background-image: url(https://img.freepik.com/premium-photo/concept-music-festivals-radio-stations-music-lovers-live-with-music-music-heart-notes-song-melody-apps-websites-treble-clef-headphones-homestudio-audio-recording_771426-4131.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;   
    
}
/*.songitemcontainer {
     margin-top: 72 px;
}*/

.bottom{
    position:static;
    height: 79px;
    background-color: black;
    bottom: 0%;
    display:flex;  
    justify-content: center; 
    align-items: center;
    color: aliceblue;
    flex-direction:column;
}
.songinfo{
    left: 4%;
    position: absolute;
    font-size:large;
    display: flex;
    align-items: center; /* Vertically aligns the text to the center of the image */
    gap: 10px;
}
.songinfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
    width: 100px; /* Adjust the width */
    height: 50px;
    padding-top: 20px;
}
.icons{
    margin-top: 12px;
    display: flex; /* Use flexbox for better alignment */
    gap: 12px;
}
.icons i{
    cursor: pointer;
}
#volumebar{
    width:95%;
    cursor: pointer;
}

.songitem {
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    width: 10cm;
    margin-top: 12px;
    border-radius: 133px;
    justify-content:space-around;
    align-items: center;
} 
.songitem img{
   border-radius: 30px;
} 
span i{
    cursor: pointer;
}